/* Doy color al fondo de pagina */
body{
    background-color: rgb(0, 225, 255);
}

h1{
    color:red;
}
h2{
    color:aqua
}
/* Al estar en cascada el h2 toma valores de abajo por id y clase */
#cabecera1{
    color:green;
}
/* Seleccion por clase . */
.cabecera2{
    color:blue;
}
.cabecera3{
    color:yellow;
}
.parrafo1{
    color:green;
    background-color: red;
}
.parrafo2{
    color:black (135, 135, 222);
    background-color: white;

}
/* Machaco valores anteriorres de h2 */
/* h2{
    background-color:magenta;
} */