/* quito margen por defecto */
* {
    margin: 0;

}

/* Doy color al fondo de pagina */
body {
    background-color: rgb(0, 225, 255);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header {
    background-color: red;
    height: 40px;
    width: 100px;
    margin: 5px;
    float: left;
}

.box {
    width: 100px;
    height: 100px;
    background-color: gray;
    margin: 5px;
    float: left;
}

h1 {
    /* si pongo no veo el texto en negro */
    /* color:red; */

    background-color: white;
}

h2 {
    color: aqua
}

/* Al estar en cascada el h2 toma valores de abajo por id y clase */
#cabecera1 {
    color: green;
    text-align: center;
}

/* Seleccion por clase . */
.cabecera2 {
    color: blue;
    text-align: left;
}

.cabecera3 {
    color: yellow;
    /* centramos tetos */
    text-align: right;
}

.parrafo1 {
    color: green;
    background-color: red;
    text-align: justify;
    /* Tamaño e teto */
    font-size: 20px;
    /* poner texto en negrita */
    font-weight: bold;
    font-style: italic;
}

.parrafo2 {
    color: black (135, 135, 222);
    background-color: white;
    font-weight: bold;
    /* en cursiva */
    font-style: italic;
}

/* Machaco valores anteriorres de h2 */
h2 {
    background-color: magenta;
    /* Entre  abajo 1º h2 y abajo de 3º h2 separa */
    margin-bottom: 30px;
    /* Entre arriba h2 1º y arriba 3º deja espacio */
    margin-top: 20px;
    /* relleno  entre elemento interior h2  separa up y down*/
    padding: 20px;
    /* borde: crea borde en contenido h2 */
    border: 15px solid white;
    /* Ancho de h2 */
    width: 190px;
    /* Alto de h2 */
    height: 150px;
    /* poner texto en negrita */
    /* font-weight: bold; */


}

.text-danger {
    color: red;
}